<div>
  <div>
    <span class="step">{{ order + 1 }}. step </span>
    <span class="">{{ selectedEvent }}</span>
  </div>
  <div class="row">
    <select class="arrow" 
      name="events" 
      [(ngModel)]="selectedEvent"
      (change)="select()">
      <option *ngFor="let eventName of allEventNames" [ngValue]="eventName">{{ eventName }}</option>
    </select>
    <button class="buttonLink" *ngIf="!showFilter" (click)="showFilter = true">Add event attribute</button>
    <app-filter-type *ngIf="showFilter" 
      (filterSelected)="addFilter($event)" 
      [defaultFilter]=defaultFilter 
      [eventKeys]="selectedEventKeys"></app-filter-type>
    <span class="close" *ngIf="showFilter" (click)="removeFilter()"></span>
  </div>
</div>
